#Purchasing

In [ ]:
import json

a= open("record.json","r")
r=a.read()
a.close()

record=json.loads(r)

#Asking Customer

In [241]:
user_id=str(input("Enter The Product ID: "))
user_quant=int(input("Enter The Quantity: "))

conf= str(input("Proceed to checkout yes/no: "))
if(conf=='yes'):
   print("**********************")
   print("Your Product: " , record[user_id]["Product"])
   print("Price: " , record[user_id]['Price'])
   print("Quantity: ", user_quant)
   print("**********************")
   print("Your Total Bill is: " , record[user_id]['Price']* user_quant)
   import time
   print(time.ctime())
   print("**********************")
   print("Thankyou for Shopping!!!!")
else:
    print("Please Continue!")


record[user_id]['Quantity'] = record[user_id]['Quantity'] - user_quant

Enter The Product ID: 1028
Enter The Quantity: 2
Proceed to checkout yes/no: yes
**********************
Your Product:  Fortune oil
Price:  699
Quantity:  2
**********************
Your Total Bill is:  1398
Mon Sep  6 15:30:40 2021
**********************
Thankyou for Shopping!!!!

#Updating Inventory

In [233]:
js=json.dumps(record)

var=open("record.json","w")
fd=var.write(js)
var.close()

#SALES

In [209]:
t=time.ctime()
sales ={1:{"ID": user_id , "Quant": user_quant , "Amount": record[user_id]['Price']*user_quant,"Time": t}}

In [210]:
f={(len(sales)+1):{"ID": user_id , "Quant": user_quant , "Amount": record[user_id]['Price']*user_quant,"Time": t}}

In [244]:
sales[(len(sales)+1)]={"ID": user_id , "Quant": user_quant , "Amount": record[user_id]['Price']*user_quant,"Time": t}

In [253]:
sales

{1: {'Amount': 295,
  'ID': '1014',
  'Quant': 5,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 2: {'Amount': 295,
  'ID': '1014',
  'Quant': 5,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 3: {'Amount': 175,
  'ID': '1015',
  'Quant': 5,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 4: {'Amount': 200,
  'ID': '1018',
  'Quant': 10,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 5: {'Amount': 2440,
  'ID': '1020',
  'Quant': 5,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 6: {'Amount': 995,
  'ID': '1023',
  'Quant': 5,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 7: {'Amount': 360,
  'ID': '1024',
  'Quant': 12,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 8: {'Amount': 7500,
  'ID': '1007',
  'Quant': 5,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 9: {'Amount': 1592,
  'ID': '1016',
  'Quant': 8,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 10: {'Amount': 80,
  'ID': '1030',
  'Quant': 2,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 11: {'Amount': 120,
  'ID': '1012',
  'Quant': 6,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 12: {'Amount': 1398,
  'ID': '1028',
  'Quant': 2,
  'Time': 'Mon Sep  6 15:25:10 2021'},
 13: {'Amount': 1398,
  'ID': '1028',
  'Quant': 2,
  'Time': 'Mon Sep  6 15:25:10 2021'}}

In [256]:
sale=json.dumps(sales)
fg=open("sales.json","w")
w=fg.write(sale)
fg.close()